@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card-panel {
  border-radius: 5px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Add this new style rule */
.row button {
    display: inline-block;
    width: auto;
    margin: 0 10px;
  }
  
  /* Update the existing button rule */
  button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
  }
  

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 5px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.video-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  